.thumbnail-container {
	position: relative;
}

.thumbnail-info {
	bottom: 0;
	width: 100%;
	position: absolute;
	opacity: 0.5;
	transition: 0.3s;
}

#thumbnail-container:hover > #thumbnail-info {
	opacity: 1;
}

.text-black {
	color: black;
}